<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static 'css/base.css' %}" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    {% block cjs %}{% endblock %}

</head>

<body>
  <div class="menus">
      <p>LIFEOTIX SYSTEM</p>
      <a href="/products">제품리스트</a>
      <a href="/products/write/attr/">제품등록</a>
      <a href="/products/write/attr/">디자인등록</a>
  </div>
  <div class="contents">
      {% block subject %}{% endblock %}
      {% block contents %}
      {% endblock %}
  </div>
</body>

</html>
