{% extends "base.html" %}

{% block title %}제품리스트{% endblock %}

{% block subject %}
<div class='subject'>
  <p>제품목록</p>
  <span>제품기본정보 목록</span>
</div>
{% endblock %}

{% block contents %}
{% if product_list %}
    <table class='product_list'>
      <tr>
          <td>그룹</td>
          <td>아티클</td>
          <td>상세정보</td>
          <td>디자인</td>
          <td>카테고리</td>
          <td>제품명</td>
          <td>판매가</td>
          <td>배송비</td>
          <td>발송지</td>
          <td>반품지</td>
          <td>AS책임자</td>
      </tr>
        {% for product in product_list %}
          <tr>
              <td>{{ product.group }}</td>
              <td>{{ product.article }}</td>
              <td><a href="/product/write/attr/{{ product.id }}"><span class='modify button'>수정</span></a></td>

              {% if product.group in group_list %}
                  <td><a href="/product/write/cont/{{ product.id }}"><span class='modify button'>수정</span></a></td>
              {% else %}
                  <td><a href="/product/write/cont/{{ product.id }}"><span class='write button'>등록</span></a></td>
              {% endif %}

              <td>{{ product.category }}</td>
              <td>{{ product.name_kor }}</td>
              <td>{{ product.price_sale }}</td>
              <td>{{ product.delivery_price }}</td>
              <td>{{ product.delivery_send }}</td>
              <td>{{ product.delivery_return }}</td>
              <td>{{ product.company_as }}</td>
          </tr>
      {% endfor %}
  </table>
{% endif %}
{% endblock %}
