{% extends "base.html" %}
{% block title %}제품등록{% endblock %}

{% block cjs %}
{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'products/css/input.css' %}" />
<script src="{% static 'products/js/input.js' %}" />
</script>
{% endblock %}

{% block subject %}
<div class='subject'>
  <p>제품등록</p>
  <span>제품기본정보 / 상품정보고시 등록</span>
</div>
{% endblock %}

{% block contents %}
<form id="input_form" autocomplete="off" action="/products/write/attr/" method="post">
  {% csrf_token %}
  <div class='input_basic'>
    <p class='subtitle'>기본정보(유통정보)</p>
    {% for form in forms %}
    <p class='basicset'>
      <span class='label'>{{ form.label }}</span>
      <span class='form'>{{ form }}</span>
    </p>
    {% endfor %}
    <input type="hidden" name="inform">
  </div>
</form>

<div class='input_attr'>
  <p class='subtitle'>정보고시(속성정보)</p>
  <p class='formset'>
    <span class="label"><input type="text" maxlength="5"></span>
    <span class="form"><input type="text" maxlength="20"></span>
    <span class='input_button_s' action='add'><i class='fa fa-plus'></i></span>
  </p>
</div>

<div class="button_box">
  <span class="submit">등록</span>
</div>
{% endblock %}
