*{box-sizing: border-box;  margin:0; padding:0;}
body{font-size:12px; background:#f0f0f0; min-width:1200px;}
span{display:inline-block;}
a{color:inherit; text-decoration: none}
a:hover{color:inherit;}
p.subtitle{font-size:18px; border-bottom:1px solid #eee; padding:0 0 1em 0!important; background:none!important; bottom:0 0 1em 0!important;}
div.button_box{text-align:right; margin:40px 0 20px 0;}
div.button_box span{background:#444; border:1px solid #333; color:#fff; padding:10px 20px;}
div.button_box span:hover{background:#333; cursor:pointer;}

.menus{width:280px; height:100%; border-right:1px solid #eee; position:fixed; left:0; top:0; background:#444;  overflow: hidden;}
.menus p{font-size:20px; font-weight:bold; display:block; color:#fff; padding:10px; margin:20px 0;}
.menus a:first-child{margin-top:150px;}
.menus a{font-size:15px; display:block; color:#fff; padding:15px 10px; border-bottom:1px solid #484848; margin:0 5px;}
.menus a:hover{background:#333}

.contents{position:relative; background:#fff; width:1000px; height:100%; padding:50px; margin:20px 20px 20px 300px;}
.outbox{background:#fff; padding:50px; display:block; position:relative;}

.subject{margin-bottom:20px;}
.subject p{font-size:20px; padding-bottom:10px; border-bottom:1px solid #888;}
.subject span{font-size:15px; padding:10px 0;}
