.input_basic{font-size:14px; background:#f8f8f8; padding:20px; overflow: hidden; margin-bottom:100px;}
.input_basic p{margin:1em 0;}
.input_basic p span.label{width:20%; color:#222; text-align:center; padding:1em}
.input_basic p span.form{width:50%; border:0;}
.input_basic p span.form input{border:1px solid #eee; padding:0.5em; width:100%;}

.input_attr{font-size:0; background:#f8f8f8; padding:20px; overflow: hidden; margin-bottom:100px;}
.input_attr .formset{margin:28px 0;}
.input_attr .formset span{vertical-align:middle; font-size:14px; margin-right:0.5em; display:inline-block; position:relative;}
.input_attr .formset span.label{width:20%; color:#222; text-align:center;}
.input_attr .formset span.label input{border:1px solid #eee; padding:0.5em; width:100%; text-align:center;}
.input_attr .formset span.form{width:50%; border:0;}
.input_attr .formset span.form input{border:1px solid #eee; padding:0.5em; width:100%;}
.input_attr .formset span.ment{font-size:12px;}

.input_button_s{display:inline-block; text-align:center; border:1px solid #ddd; background:#f8f8f8; vertical-align:middle; width:25px; height:25px; color:#888; cursor:pointer;}
.input_button_s:hover{background:#444; color:#fff;}
.input_button_s i{vertical-align:middle;}
